﻿@charset "utf-8";
/* ==========================================================================
   CSS Reset
   ========================================================================== */
/*
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
*, *:after, *:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
/* ==========================================================================
   Common CSS
   ========================================================================== */
body {
	font: normal 14px/20px Arial, Helvetica, sans-serif;
	color: #4b4b4b;
	background: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {
	outline: none;
	text-decoration: none;
	color: #b41124;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
*:focus {
    outline: none;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
li {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* ==========================================================================
   Setting up the fonts
   ========================================================================== */


/* ==========================================================================
   Header
   ========================================================================== */

header {
}
/* ==========================================================================
   Footer
   ========================================================================== */

footer {
}
/* ==========================================================================
   Main
   ========================================================================== */
/* FONT FACE */
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/open-sans.regular-webfont.eot');
	src: url('../fonts/open-sans.regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/open-sans.regular-webfont.woff2') format('woff2'),  url('../fonts/open-sans.regular-webfont.woff') format('woff'),  url('../fonts/open-sans.regular-webfont.ttf') format('truetype'),  url('../fonts/open-sans.regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),  url('../fonts/opensans-semibold-webfont.woff') format('woff'),  url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),  url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/opensans-light-webfont.eot');
	src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-light-webfont.woff2') format('woff2'),  url('../fonts/opensans-light-webfont.woff') format('woff'),  url('../fonts/opensans-light-webfont.ttf') format('truetype'),  url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-bold-webfont.woff2') format('woff2'),  url('../fonts/opensans-bold-webfont.woff') format('woff'),  url('../fonts/opensans-bold-webfont.ttf') format('truetype'),  url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansitalic';
	src: url('../fonts/opensans-italic-webfont.eot');
	src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-italic-webfont.woff2') format('woff2'),  url('../fonts/opensans-italic-webfont.woff') format('woff'),  url('../fonts/opensans-italic-webfont.ttf') format('truetype'),  url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansLight-Italic';
	src: url('../fonts/opensans-lightitalic-webfont.eot');
	src: url('../fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),  url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),  url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype'),  url('../fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold_italic';
	src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),  url('../fonts/opensans-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*banner-block-start*/
.banner_block {
	float: left;
	width: 100%;
	clear: both;
	background-image: url(../images/shutterstock.png);
	height: 890px;
	display: table;
	width: 100%;
	text-align: center;
	position: relative;
}
.text_block {
	clear: both;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	height: 890px;
	width: 100%;
	margin: 0px auto;
}
.text_block h1 {
	font-family: 'open_sansbold_italic';
	font-size: 175px;
	line-height: normal;
	color: #fff;
}
.text_block img {
	margin: 0px auto;
}
.logo_block {
	clear: both;
	right: 130px;
	position: absolute;
	bottom: 20px;
}
.logo_block li {
	float: left;
}
.logo_block li:first-child {
	font-family: 'OpenSans-Light';
	padding: 10px 10px 0px 0px;
	color: #f5f5f5;
	font-size: 12px;
}
/*banner-block-end*/
/*login-page start*/
.form_block {
	width: 329px;
	height: 257px;
	opacity: 0.75;
	border-radius: 2px;
	background-color: #263138;
	box-shadow: 0 0 4px 0 #9b9b9b;
	border: solid 1px #979797;
	margin: 0px auto;
}
.form_block form {
	padding: 14px 53px 37px 44px;
}
.form_block form h2 {
	font-family: 'OpenSans-Bold';
	text-align: left;
	color: #fff;
	font-size: 16px;
	padding-bottom: 24px;
}
.form_block form label {
	display: block;
	text-align: left;
	width: 100%;
	color: #fff;
	font-size: 12px;
	font-family: 'OpenSans-Light';
}
.form_block form input {
	display: block;
	float: left;
	width: 100%;
	height: 25px;
	background: #fff;
	border: none;
	margin-bottom: 10px;
}
.form_block form button {
	border: none;
	width: 148px;
	line-height: 30px;
	border-radius: 2px;
	background-color: #034f82;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
	font-size: 10px;
	margin-top: 20px;
	font-family: 'OpenSans-Semibold';
}
/*login-page end*/


/*srx-copy-header start*/
.banner_block.coharan_block {
	background-image: none;
	float: left;
	width: 100%;
	border: 1px solid #9e9e9e;
	margin-top: 20px;
	height:1040px;
}
.header_block {
	clear: both;
	float: left;
	width: 100%;
	background-color: #263138;
	height: 135px;
	padding: 20px 34px 20px 65px;
	text-align: left;
}
.header_top {
	clear: both;
	float: left;
	width: 100%;
	padding-bottom: 18px;
	border-bottom: 1px solid #e4e4e4;
}
.mazda {
	font-family: 'OpenSans-Bold';
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
}
.icon_block {
	float: right;
}
.icon_block li {
	float: left;
	padding: 0px 16px;
}
.icon_block li:last-child {
	padding-top: 8px;
	font-size: 12px;
	font-family: 'OpenSans-Semibold';
}
.icon_block li a {
	color: #fff;
}
.header_bottom {
	clear: both;
	width: 100%;
}
.tasks {
	display: inline-block;
	padding-top: 30px;
}
.tasks li {
	font-family: 'OpenSans-Semibold';
	float: left;
	font-size: 12px;
	position: relative;
}
.tasks li a:first-child {
	padding-left: 0px;
}
.tasks li a {
	color: #fff;
	padding: 0px 22px;
}
.tasks li a:hover {
	color: #ced7dd;
}
.tasks li a:hover::after {
	content: '';
	position: absolute;
	top: -30px;
	left: 0px;
	height: 5px;
	width: 90%;
	background: #ced7dd;
}
.tasks li a.active {
	color: #ced7dd;
}
.tasks li a.active::after {
	content: '';
	position: absolute;
	top: -30px;
	left: 0px;
	height: 5px;
	width: 90%;
	background: #ced7dd;
}
.select_block {
	float: right;
}
.select_block p {
	font-size: 12px;
	color: #a2b2bf;
	padding-top: 5px;
	padding-left: 72px;
}
.select_box span {
	display: inline-block;
	color: #ffffff;
	font-size: 10px;
	padding-right: 10px;
	text-decoration: underline;
}
.select_box {
	position: relative;
}
.select_box form {
	display: inline-block;
}
.select_box select {
	clear: both;
	width: 150px;
	border: 1px solid #fff;
	background-color: #263138;
	color: #fff;
	-webkit-appearance: none;
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	-ms-appearance: none !important;
	z-index: 1;
	font-size: 10px;
	padding:3px 0px;
}
.select_box:after {
	content: '';
	position: absolute;
	top: 8px;
	right: 5px;
	height: 0px;
	width: 0px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fff;
	z-index: 1;
}
.select_box:before {
	content: '';
	position: absolute;
	top: 2px;
	right: 23px;
	height: 19px;
	width: 1px;
	background: #fff;
}
.setting_block {
	background-color: #e4e2e2;
	width: 1200px;
	min-height: 287px;
	text-align: left;
	padding-left: 72px;
	padding-top: 21px;
	float: left;
	clear: both;
}
.setting_block h2 {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.87);
	padding-bottom: 10px;
}
.setting_block ul li {
	font-family: 'OpenSans-Semibold';
	padding: 9px 0px;
	font-size: 14px;
}
.setting_block ul li a {
	color: #034f82;
}
.logo_block .powered {
	color: #000;
}
.logo_block.logo_block_one li:first-child {
	color: #000;
}
/*srx-copy-header end*/

/*SRX-DASHBOARD-TASKS PAGE START*/
.setting_block.opprtunity_engine {
	float: left;
	width: 100%;
	background-color: #f5f5f5;
	border-bottom: 1px solid #9e9e9e;
	min-height: 205px;
}
.engine_block {
	width: 31.3%;
	float: left;
	height: 161px;
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 #9b9b9b;
	border: solid 0.5px #9b9b9b;
	margin-right: 19px;
}
.engine_one {
	background: #4d4b59;
	width: 100%;
	height: 5px;
}
.engine_text {
	width: 100%;
	height: 37px;
	background-color: #263138;
	border: solid 1px #979797;
	border-left: 0px;
	border-right: 0px;
	text-align: center;
}
.engine_text h2 {
	color: #fff;
	font-family: 'open_sansregular';
	padding-top: 5px;
	font-size: 16px;
}
.services_block {
	width: 100%;
	padding: 17px 5px 44px 5px;
}
.serivce_one {
	width: 22.6%;
	display: inline-block;
	height: 63px;
	border: solid 1px #979797;
	margin-right: 6px;
}
.serivce_one h3 {
	text-align: center;
	width: 100%;
	font-size: 10px;
	background: #4d4b59;
	line-height: 15px;
	color: #fff;
}
.serivce_one p {
	text-align: center;
	font-size: 18px;
	color: #39393a;
	padding: 5px 0px 5px 0px;
}
.serivce_one h4 {
	text-align: center;
	font-size: 10px;
	color: #39393a;
	border-top: 1px solid #979797;
	line-height: 15px;
}
.serivce_one:last-child {
	margin-right: 0px;
}
.notification {
	position: relative;
}
.notification:after {
	content: '';
	position: absolute;
	top: -5px;
	right: -10px;
	width: 20px;
	height: 20px;
	background: url(../images/notification.png) no-repeat;
}
.search {
	position: relative;
}
.search:after {
	content: '';
	position: absolute;
	top: 8px;
	left: 100px;
	width: 30px;
	height: 20px;
	background: url(../images/shape.png) no-repeat;
}
.services_block.service_block_one {
	padding-top: 10px;
}
.service_block_two {
	margin-bottom: 0px;
}
.service_block_two input {
	width: 47%;
	margin: 0px 4px 14px 4px;
	padding-bottom: 10px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #ced7dd;
}
.service_block_two input:nth-child(3) {
	margin-bottom: 0px;
}
.service_block_two input:nth-child(4) {
	margin-bottom: 0px;
}
.check_block {
	width: 100%;
	float: left;
	clear: both;
	padding-top: 8px;
}
.check_block [type="checkbox"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.check_block input[type="checkbox"]:not(old) + label {
	padding-left: 27px;
	background: url(../images/bnone.png) no-repeat left center;
	font-size: 10px;
	color: #383838;
	display: inline-block;
	cursor: pointer;
}
.check_block label {
	position: relative;
}
.check_block > div {
	float: left;
	margin-right: 5px;
	margin-top:-6px;
}
.check_block button {
	width: 148px;
	height: 23px;
	border-radius: 2px;
	background-color: #034f82;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	margin-top: -10px;
	border: none;
	color: #fff;
	margin-left: 5px;
	font-size: 10px;
}
.check_block input[type="checkbox"]:not(old):checked + label {
	background-image: url(../images/background.png);
}
.check_block > div input {
	width: 20%;
	clear: both;
}
.timings_block {
	width: 100%;
	float: left;
	text-align: left;
	clear: both;
	padding: 26px 31px 0px 64px;
}
.timings_block_one {
	float: left;
	width: 49%;
	margin-right: 16px;
}
.timings_block_one:last-child {
	margin-right: 0px;
}
.timings_left {
	width: 100%;
	height: 270px;
	opacity: 0.9;
	box-shadow: 0 0 4px 0 #9b9b9b;
	border: solid 0.5px #979797;
	border-top: 0px;
}
.engine_two {
	background: #000;
	height: 5px;
	width: 100%;
}
.engine_text_one {
	height: 37px;
	background-color: #abbbc6;
	border: solid 1px #979797;
	width: 100%;
}
.engine_text_one p {
	font-size: 16px;
	color: #424242;
	font-family: 'OpenSans-Semibold';
	padding: 7px 12px;
	float: left;
}
.date {
	float: right;
	padding-top: 3px;
	position: relative;
	margin-right: 10px;
}
.date input {
	width: 95px;
	background-color: #abbbc6;
	border: 1px solid #000;
	font-size: 10px;
	padding: 5px 0px 6px 5px;
}
.date:after {
	content: '';
	position: absolute;
	top: 7px;
	right: 1px;
	width: 20px;
	height: 20px;
	background: url(../images/calender.png) no-repeat;
}
.date:before {
	content: '';
	position: absolute;
	top: 4px;
	right: 26px;
	width: 1px;
	height: 23.2px;
	background: #000;
}
.date input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #000;
}
.date input::-moz-placeholder { /* Firefox 19+ */
 color: #000;
}
.date input:-ms-input-placeholder { /* IE 10+ */
 color: #000;
}
.date input:-moz-placeholder { /* Firefox 18- */
 color: #000;
}
.timings_left_one {
	float: left;
	width: 100%;
}
.timings_left_one ul li {
	font-family: 'open_sansregular';
	text-align: center;
	padding: 12.5px 0px;
	border-bottom: 1px solid #979797;
	position: relative;
	font-size: 12px;
}
.timings_left_one ul li:first-child {
	color: #b71c1c;
}
.timings_left_one ul li:last-child {
	border-bottom: 0px;
}
.timings_left_one ul li span {
	padding-right: 15px;
}
.timings_left_one ul li:before {
	content: '';
	position: absolute;
	top: 11px;
	right: 16px;
	width: 17px;
	height: 20px;
	background: url(../images/pencil.png) no-repeat;
}
.timings_left_one ul li:first-child:after {
	content: '';
	position: absolute;
	top: 15px;
	left: 25px;
	width: 30px;
	height: 20px;
	background: url(../images/imported.png) no-repeat;
}
.timings_left_one ul li:nth-child(2) {
	background-color: #f5f5f5;
}
.timings_left_one ul li:nth-child(4) {
	background-color: #f5f5f5;
}
.timings_left_one ul li:nth-child(2):after {
	content: '';
	position: absolute;
	top: 10px;
	left: 20px;
	width: 30px;
	height: 20px;
	background: url(../images/layer-1.png) no-repeat #f5f5f5;
}
.timings_left_one ul li:nth-child(3):after {
	content: '';
	position: absolute;
	top: 10px;
	left: 20px;
	width: 30px;
	height: 20px;
	background: url(../images/layer-1.png) no-repeat;
}
.timings_left_one ul li:nth-child(4):after {
	content: '';
	position: absolute;
	top: 10px;
	left: 20px;
	width: 30px;
	height: 20px;
	background: url(../images/note.png) no-repeat;
}
.timings_left_one ul li:nth-child(5):after {
	content: '';
	position: absolute;
	top: 15px;
	left: 20px;
	width: 30px;
	height: 20px;
	background: url(../images/email.png) no-repeat;
}
.pagenations_block {
	float: right;
}
.pagenations_block ul li {
	float: left;
	padding: 0px 5px;
}
.pagenations_block ul li a {
	color: #4a4a4a;
}
.pagenations_block ul li a:hover {
	color: #034f82;
	border-bottom: 2px solid #034f82;
}
.pagenations_block .active {
	color: #034f82;
	border-bottom: 2px solid #034f82;
}
.timings_left_one.timings_left_two {
	float: left;
	width: 100%;
}
.added {
	width: 87%;
}
.added em {
	text-align: left;
	font-size: 12px;
	padding-right: 40px;
	font-style: normal;
	color: #000;
}
.added small {
	text-align: right;
	float: right;
	padding-left: 60px;
	font-size: 12px;
}
.added p {
	font-size: 13px;
	margin: auto 63px;
	text-align: center;
	width: 100%;
	font-family: 'open_sansregular';
}
.timings_left_one.timings_left_two ul li {
	padding: 2px 0px;
	color: #8c8c8c;
}
.timings_left_one.timings_left_two ul li:first-child:after {
	content: '';
	position: absolute;
	top: 15px;
	left: 25px;
	width: 30px;
	height: 20px;
	background: url(../images/note.png) no-repeat;
}
.timings_left_one.timings_left_two ul li:nth-child(2):after {
	content: '';
	position: absolute;
	top: 15px;
	left: 25px;
	width: 30px;
	height: 20px;
	background: url(../images/note.png) no-repeat;
}
.timings_left_one.timings_left_two ul li:nth-child(3):after {
	content: '';
	position: absolute;
	top: 15px;
	left: 25px;
	width: 30px;
	height: 20px;
	background: url(../images/imported-layers.png) no-repeat;
}
.timings_left_one.timings_left_two ul li:nth-child(4):after {
	content: '';
	position: absolute;
	top: 15px;
	left: 25px;
	width: 30px;
	height: 20px;
	background: url(../images/note.png) no-repeat;
}
.timings_left_one.timings_left_two ul li:nth-child(5):after {
	content: '';
	position: absolute;
	top: 15px;
	left: 25px;
	width: 30px;
	height: 20px;
	background: url(../images/imported-layers.png) no-repeat;
}
.timings_left_one.timings_left_two ul li:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 86px;
	width: 1px;
	height: 38px;
	background: #000;
}
/*SRX-DASHBOARD-TASKS PAGE END*/

/*Drill-Down-filter-page-start*/
.filter_menu{width:100%;height:5px;background-color: #4d4b59;}
.drill_down_menu{
  float:left;
  width:100%;
  height: 37px;
  background-color: #e4e2e2;
  border: solid 0.5px #979797;
}
.drill_down_menu h2{font-family: 'OpenSans-Bold';padding:7px 12px;color: #424242;font-size:16px;display:inline-block;}
.filter{float:right;padding:9px 8px 11px 0px;}
.drill_down_form_block{float:left;width:100%;height:135px;background-color: #747373;padding:10px 17px 10px 17px;}
.campigan_filter{float:left;width:15%;margin-right:10px;}
.campigan_filter label{width:100%;color:#fff;font-size:10px;}
.campigan_filter select{
	width:100%;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-bottom:1px solid #979797;
	background-color:#747373;
	color:#fff;
	font-size:10px;	
	-webkit-appearance: none;
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	-ms-appearance: none !important;
	padding-bottom:5px;
}
.campigan_filter > div{position:relative;margin-bottom:20px;margin-right:5px;}
.campigan_filter > div:after{
	content: '';
	position: absolute;
	top: 29px;
	right: 5px;
	height: 0px;
	width: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	z-index: 3;
}
.loan_block{width:15%;float:left;margin-right:10px;}
.tier{float:left;width:48%;margin-right:6px;}
.tier span{width:100%;color:#fff;font-size:10px;}
.tier input{border-left:none;border-right:none;border-top:none;border-bottom:1px solid #979797;background-color:#747373;width:100%;}
.campigan_filter.compigan_filter_one{width:100%;margin-top:20px;margin-right:0px;}
.tier:nth-child(2){margin-right:0px;}
.campigan_filter.campigan_filter_two{width:8%;}
.terms{width:9%;float:left;margin-right:10px;padding-top:3px;margin-left:1px;}
.terms span{font-size:10px;color:#fff;display:block;}
.terms div{float: left;width: 50%;}
.terms label{font-size:10px;color:#fff;width:100%;display:block;}
.terms input{border-top:none;border-left:none;border-right:none;border-bottom:1px solid #d8d8d8;background-color:#747373;    width: 88%;font-size:10px;}
.terms input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #fff;
}
.terms input::-moz-placeholder { /* Firefox 19+ */
 color: #fff;
}
terms input:-ms-input-placeholder { /* IE 10+ */
 color: #fff;
}
.terms input:-moz-placeholder { /* Firefox 18- */
 color: #fff;
}
.terms:last-child{margin-right:0px;}
.check_block_one{float:left;width:10%;overflow:hidden;}
.check_block_one > div{float:left;margin-top:10px;}
.check_block_one [type="checkbox"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.check_block_one input[type="checkbox"]:not(old) + label {
	padding-left: 27px;
	background: url(../images/checkbox-off.png) no-repeat left center;
	font-size: 10px;
	color: #383838;
	display: inline-block;
	cursor: pointer;
	color:#fff;
}
.check_block_one label {
	position: relative;
}
.check_block_one input[type="checkbox"]:not(old):checked + label {
	background-image: url(../images/checkbox-on.png);
}
.check_block_one > div input {
	width: 20%;
	clear: both;
}
.loan_block.loan_block_one{margin-top:15px;width:19%;margin-left:10px;}
.filter_buttton{  float:left;}
.filter_buttton button{  
 width: 56px;
  height: 22px;
  border-radius: 1.2px;
  background-color: #d8d8d8;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  font-size:8px;
  border:none;
  cursor:pointer;
  margin-top:33px;
 }
 .clear{display:inline-block;color:#fff;font-size:10px;padding-left:11px;}
 .table_block{float:left;width:100%;height:430px;border: solid 1px #979797;clear:both;}
 .table_block table{width:100%;border-left:none;clear:both;}
.table_block  table, th, td {
    border: 1px solid #979797;
	border-collapse:collapse;
	border-left:none;
	border-right:none;
}
.table_block table, tr, th{font-family: 'OpenSans-Bold';font-size:9px;background:#d8d8d8;}
.table_block table, tr, td{font-family: 'OpenSans-Semibold';font-size:9px;color: #424242;}
.table_block table, tr, th img{padding:5px 0px 0px 0px;}
.table_block table, tr, td img{padding-left:15px;text-align:center;}
.table_block table tr:nth-child(even) {background:#f5f5f5;}
.table_block table tr:nth-child(odd) {background: #fff;}
.table_block table tr:hover{background:#edb0b7;}
.drive{color: #d0021b;}
.check_block p{    width: 20%;
    display: block;
    /* float: left; */
    margin-top: -10px;
    font-size: 10px;
    color: #000;
}
/*Drill-Down-filter-page-end*/

/*mahesh-styles-start*/
h1 {
	font: 14px/19px 'open_sansregular';
	color: #424242;
}
h2 {
	font: 12px/22px 'OpenSans-Semibold';
}
#header {
	float: left;
	width: 100%;
	border-bottom: 1px solid #d8d8d8;
	padding-left: 67px;
	padding-right: 51px;
}
.header-top {
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e4e4e4;
	height: 58px;
	line-height: 58px;
}
.logo {
	color: #424242;
	font: 16px/22px 'OpenSans-Bold';
	letter-spacing: 0.1px;
}
.logout-block {
	float: right;
}
.bell {
    display: inline-block;
    width: 28px;
    height: 27px;
    position: relative;
    vertical-align: middle;
    margin-right: 22px;
    cursor: pointer;
}
.bell span {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #f00;
	color: #fff;
	font: 7.2px/15px 'OpenSans-Semibold';
	position: absolute;
	top: -6px;
	right: -6px;
	text-align: center;
}
.logout {
	color: #424242;
	font: 12px/17px 'OpenSans-Light';
	letter-spacing: 0.1px;
}
.header-bottom {
	clear: both;
	padding: 11px 0 14.5px;
	float: left;
	width: 100%;
}
.information-block {
	float: left;
	width: 200px;
	margin-right: 50px;
	font: normal 12px/22px 'OpenSans-Light';
}
.information-block strong {
	font: 12px/22px 'OpenSans-Semibold';
}
.information-block:nth-child(2) {
    width: 205px;
}
.information-block:last-child {
    float: right;
    margin: 0;
    width: 260px;
    position: relative;
}
.information-block img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}
.symbol {
	float: right;
	border-bottom: 1px solid #424242;
	color:#424242;
	font: 18px/20px 'OpenSans-Semibold';
}
.symbol img { 
	margin: 0;
	position: relative;
	top: -5px;
}
.information-block .form {
	clear: both;
	width: 100%;
}
.information-block .form select {
	width: 100%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #424242;
	font-size: 12px;
	color: #424242;
    appearance: none;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	-ms-appearance: none; 
}
.shapes {
	position: relative;
}
.shapes:after {
	content: '';
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #424242;
	right: 0px;
	top: 7px;
	z-index: 1;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer-section {
	padding: 36px 0;
	clear: both;
	overflow: hidden;
}
.powered-by {
    text-align: right;
}
.powered-by img {
    display: inline-block;
    vertical-align: middle;
}
.powered-by span {
	font: 12px/17px 'OpenSans-Light';
	color: #424242;
	letter-spacing: 0.1px; 
}


/* ==========================================================================
   Main
   ========================================================================== */

#main {
	padding-left: 67px;
	padding-right: 51px;
}
.properties {
    clear: both;
    float: left;
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin:27.5px 0 42px 0;
}
.propert-left {
    float: left;
    width: 650px;
    position: relative;
}
.properties li img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}
.properties li {
    clear: both;
    color: #4c4d4f;
    display: inline-block;
    font: 11.2px/24px "OpenSans-Semibold";
    margin-right: 20px;
    vertical-align: middle;
}
.properties li.to-do {
	border:1px solid #4c4d4f;
	cursor: pointer;
}
.properties li.to-do span {
    float: left;
    padding: 0 10px;
}
.properties li.to-do span.plus {
    border-left:1px solid #4c4d4f;
    font-size: 19.4px;
    font-family:'OpenSans-Semibold';
    padding: 0 5px;
}
.propert-right {
    text-align: right;
}
.propert-right li, .call-accept li {
	font: 12px/21px "OpenSans-Bold";
	margin-right: 15px;
	color: #424242;
}
.call-accept li {
	margin-right: 8px;
}
.propert-right li:last-child, .call-accept li:last-child {
    color: #d0021b;
    margin: 0;
}
.propert-right li input[type="checkbox"], .include-trade li input[type="checkbox"], .call-accept li input[type="checkbox"] {
    display:none;
}
.propert-right li input[type="checkbox"] + label span, .include-trade li input[type="checkbox"] + label span, .call-accept li input[type="checkbox"] + label span {
    display:inline-block;
    width:18px;
    height:18px;
    margin:0 4px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox-off.png) no-repeat;
    cursor:pointer;
}
.propert-right li input[type="checkbox"]:checked + label span, .include-trade li input[type="checkbox"]:checked + label span, .call-accept li input[type="checkbox"]:checked + label span {
    background:url(../images/checkbox-on.png) no-repeat;
}
.vehicle-info {
	float: left;
	width: 100%;
}
.vehicle-left-info {
	width: 363px;
	float: left;
}
.vehicle-right-info {
	width: 710px;
	float: right;
}
.tabs-head {
	text-align: center;
}
.tabs-head ul {    
    clear: both;
    overflow: hidden;
    border-bottom: 3px solid #424242;
}
.tabs-head li {
	width: 33.333%;
	float: left;
	font: 14px/22.8px "OpenSans-Semibold";
	color: #333333;
	border-bottom: 6px solid transparent;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
}
.tabs-head li.current, .tabs-head li:hover {
	border-bottom: 6px solid #424242;
}
.vehicle-left-info .tabs-body {
    position: relative;
}
.vehicle-left-info .tabs-body::after, .saved-deals:after {
    background: #4d4d4d none repeat scroll 0 0;
    border-radius: 2px;
    content: "";
    height: 50px;
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 6px;
}
.saved-deals:after {
    right: -3px;
}
.vehicle-data {
    clear: both;
    overflow: hidden;
    padding: 15px 10px 10px;
    height: 105px;
}
.vehicle-pic {
    float: left;
    margin-right: 8px;
}
.vehicle-data h2 {
	font: 12px/18px "OpenSans-Semibold";
	color: #3b3c3e;
}
.vehicle-data p {
	font: 11px/18px "OpenSans-Light";
	color: #3b3c3e;
}
.vehicle-data p em, .vehicle-details h2 em {
	color:#c30016;
	font-family:'open_sansitalic';
}
.vehicle-data {
	border-left:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	border-right:2px solid #cdcbd0;
	position: relative;
	cursor: pointer;
}
.vehicle-data:after {
	content: "";
	background:url(../images/collapse-icon.png) no-repeat;
	width: 10px;
	height: 1px;
	position: absolute;
	right: 15px;
	top: 15px;
}
.vehicle-data.no-image:after, .vehicle-data.no-image.active:after {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}
.vehicle-data.active:after {
	content: "";
	background:url(../images/open-icon.png) no-repeat;
	width: 10px;
	height: 11px;
	position: absolute;
	right: 15px;
	top: 15px;
}
.vehicle-properties {
	border-left:1px solid #9e9e9e;
	border-bottom:1px solid #ebebeb;
	border-right:2px solid #cdcbd0;
	padding: 10px 10px 23px 10px;
	background: #fafafa;
}
.property {
	clear: both;
	overflow: hidden;
}
.property li {
	font: 11px/18px "OpenSans-Light";
	color: #3b3c3e;
}
.property li:first-child {
	width: 123px;
	float: left;
	margin-right: 8px;
}
.property li:last-child {
	font: 11px/18px "open_sansregular";
}
.extra-margin {
	margin-top: 17px;
}
li.red {
	color: #cc001e;
}
.property li img {
    display: inline-block;
    vertical-align: middle;
}
.edit {
    background: #fafafa none repeat scroll 0 0;
    border: 0;
    border-bottom: 1px solid #9e9e9e;
    display: inline-block;
    width: 57px;
    color: #3b3c3e;
}
.vehicle-data.no-image {
    height: 27px;
    padding: 0 10px;
}
.vehicle-data.no-image h2 {
	font: 12px/27px "open_sansregular";
	color: #424242;
}
.vehicle-properties {
	display: none;
}
.vehicle-properties.default {
	display: block;
}
.tab-content {
	display: none;
}
.tab-content.current { 
	display: block;
}
.warrenty {
    clear: both;
    overflow: hidden;
    padding: 10px 0 28px 18px;
}
.warrenty .property {
    clear: none;
    float: left;
    margin-right: 10px;
    width: 50px;
}
.vehicle-details h2 img {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.auto-loans, .service-history {
    clear: both;
    overflow: hidden;
    padding: 10px 0 23px 18px;
}
.property-block {
    clear: both;
    overflow: hidden;
}
.auto-loans .property, .property-block .property {
    clear: none;
    float: left;
    margin: 0 10px 0 0;
    width: 44px;
}
.property-block .property {
    margin: 0 8px 0 0;
}
.warrenty .property li, .auto-loans .property li, .service-history .property li {
    display: block;
    margin: 0;
    width: 100%;
} 
.auto-loans .property:first-child {
    width: 25px;
}
.auto-loans .property:nth-child(4), .auto-loans .property:nth-child(5) {
    width: 25px;
}
.property-block .property:nth-child(3) {
	width: 75px;
}
.property-block .property:last-child {
	width: 150px;
	margin: 0;
}
.property-block .property li span, .payment-results span.selectable-info {
	font-family:'open_sansitalic';
}
.vehicle-properties.service-history {
	border-bottom:1px solid #9e9e9e;
}
.vehicle-right-info .tabs-body {
	border-left:1px solid #a0a0a0;
	border-right:1px solid #a0a0a0;
	border-bottom:1px solid #a0a0a0;
	float: left;
	width: 100%;
}
.filter-inventory {
	padding: 9px 25px 0 20px;
	border-bottom: 5px solid #424242; 
	float: left;
	width: 100%;
	height: 105px;
}
.inventory h1 {
	display: block;
}
.filters {
    float: left;
    width: 415px;
    margin-top: 20px;
}
.module {
    float: left;
    margin-right: 1%;
    position: relative;
    width: 18%;
}
.module select, .pf-module select {
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0 none;
    font: 12px/17px "open_sansregular";
    color: #333333;
}
.module::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #424242;
    content: "";
    left: 32px;
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
}
.module.make::after {
    left: 37px;
}
.module.model::after {
    left: 42px;
}
.vin-stock {
    float: right;
    width: 245px;
}
.vin-data {
    float: left;
    width: 135px;
}
.stock-data {
    float: right;
    width: 70px;
}
.vin-stock label, .pfs-module label {
	display: block;
	font: 12px/17px "open_sansregular";
    color: #333333;
}
.vin-stock input, .pfs-module input {    
    height: 27px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #f2f2f2;
    font: 14px/27px "open_sansregular";
    color: #8c8c8c;
}
.payment-terms {
	padding: 10px 56px 18px 19px;
	border-bottom: 5px solid #424242;
	float: left;
	width: 100%;
}
.payment-filters {
	clear: both;
	overflow: hidden;
	width: 525px;
	margin-top: 24px;
}
.pf-module {
	width: 20%;
	float: left;
	position: relative;
}
.pf-module::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #424242;
    content: "";
    left: 72px;
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
}
.pf-module.tier-a::after {
    left: 37px;
}
.pf-module.payments::after {
    left: 60px;
}
.payment-filters-second {
    clear: both;
    float: left;
    margin-top: 20px;
    width: 100%;
}
.inventory-payments .payment-filters-second { 
	margin-top: 0;
}
.inpaymentvehicle-head {
    margin-bottom: 11px;
}
.inpaymentvehicle-head li {
	font: 16px/22px "OpenSans-Bold";
	display: inline-block;
	color: #424242;
	margin-right: 6px;
}
.inpaymentvehicle li {
	font: 12px/17px "open_sansregular";
	display: inline-block;
	color: #424242;
	margin-right: 15px;
}
.inpaymentvehicle {
    margin-bottom: 20px;
}
.pfs-module {
	width: 120px;
	float: left;
	margin-right: 8px;
}
.pfs-module.trade-in input {
    border: 0 none;
}
.pfs-module.include-trade {
    margin: 0;
    position: relative;
    top: 10px;
}
.pfs-module.include-trade label {
	color: #424242;
}
.payment-filters-third {
	margin-top: 26px; 
	float: left;
	width: 100%;
}
.filter-btn {
	display: inline-block;
	width: 151px;
	height: 30px;
	line-height: 30px;
	font: 14px/30px "open_sansregular";
	color: #fff;
	background: #50748a;
	text-align: center;
	border-radius: 2px;
}
.payment-results {
    min-height: 577px;
    float: left;
    width: 100%;
}
.compare-data-head {
	clear: both;
	overflow: hidden;
}
.compare-block {
	padding: 10px 8px 19px 19px;
}
.compare-data-head {
	padding: 10px 8px 0px 19px;
}
.payment-results h1 span {
	font-family: 'OpenSans-Light';
}
.payment-results h1 {
	display: inline-block;
}
.compare-btn {
    float: right;
	width: 151px;
	height: 30px;
	line-height: 30px;
	font: 14px/30px "open_sansregular";
	color: #fff;
	background: #424242;
	text-align: center;
	border-radius: 2px;
}
.compare-data-head ul li, .compare-data-body ul li {
    color: #424242;
    float: left;
    font: 11px/15px "OpenSans-Semibold";
    margin-right: 10px;
    width: 51px;
}
.compare-data-head ul li:first-child, .compare-data-body ul li:first-child {
    margin-right: 9px;
    width: 26px;
}
.compare-data-head ul li:nth-child(2), .compare-data-body ul li:nth-child(2) {
    width: 24px;
    margin-right: 17px;
}
.compare-data-head ul li:nth-child(3), .compare-data-body ul li:nth-child(3) {
    width: 29px;
     margin-right: 16px;
}
.compare-data-head ul li:nth-child(4), .compare-data-body ul li:nth-child(4) {
	width:42px;
	margin-right: 20px;
}
.compare-data-head ul li:nth-child(5), .compare-data-body ul li:nth-child(5) {
	width: 55px;
}
.compare-data-head ul li:nth-child(6), .compare-data-body ul li:nth-child(6) { 
	margin-right: 18px;
}
.compare-data-head ul li:nth-child(7), .compare-data-body ul li:nth-child(7) {
	width: 37px;
	margin-right: 20px;
}
.compare-data-head ul li:nth-child(8), .compare-data-body ul li:nth-child(8) {
	width: 35px;
	margin-right:20px;
}
.compare-data-head ul li:nth-child(9), .compare-data-body ul li:nth-child(9) {
	width: 29px;
	margin-right:10px;
}
.compare-data-head ul li:nth-child(10), .compare-data-body ul li:nth-child(10) {
	width: 37px;
}
.compare-data-head ul li:nth-child(11), .compare-data-body ul li:nth-child(11) {
	width: 44px;
}
.compare-data-head ul li:nth-child(12), .compare-data-head ul li:nth-child(13), .compare-data-body ul li:nth-child(12), .compare-data-body ul li:nth-child(13) {
	width: 31px;
}
.compare-data-head ul li:last-child, .compare-data-body ul li:last-child {
	width: 15px;
	float: right;
}
.compare-data-body ul:nth-child(n) {    
    height: 57px;
    padding: 21px 8px 21px 19px;
}
.compare-data-body ul:nth-child(2n) {
    background: #d8d8d8 none repeat scroll 0 0; 
    height: 32px;
    padding: 9px 8px 9px 19px;
}
.compare-data-body li input[type="checkbox"], .todo-body li input[type="checkbox"] { 
    display:none;
}
.compare-data-body li input[type="checkbox"] + label span, .todo-body li input[type="checkbox"] + label span {
    display:inline-block;
    width:18px;
    height:18px;
    margin:0 4px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox-off.png) no-repeat;
    cursor:pointer;
}
.compare-data-body li input[type="checkbox"]:checked + label span, .todo-body li input[type="checkbox"]:checked + label span {
    background:url(../images/checkbox-on.png) no-repeat;
}
.payment-filters-third.incentive-block {
    margin-top: 33px;
}
.incentive-dropdown {
    float: left;
    width: 245px;
    position: relative;
    margin-right: 25px;
}
.filter-dropdown {
    float: left;
    width: 176px;
    position: relative;
    margin-right: 5px;
}
.incentive-dropdown label, .filter-dropdown label {
	display: block;
	font: 12px/17px "open_sansregular";
	color: #424242;
}
.incentive-dropdown a.select, .filter-dropdown select {
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0 none;
    font: 14px/19px "open_sansregular";
    color: #797979;
    border-bottom: 2px solid #424242;
    width: 100%;
    position: relative;
    display: block;
    cursor: pointer;
}
.incentive-dropdown a.select:after, .filter-dropdown:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #424242;
    content: "";
    right: 0;
    position: absolute;
    bottom: 5px;
}
.dropdown a.select {
    margin-top: 5px;
}
.mutliSelect {
  position: relative;
}
.mutliSelect ul {
  background-color: #e6e5e5;
  border: 0;
  color: #424242;
  display: none;
  left: 0px;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 245px;
  list-style: none;
  min-height: 129px;
  z-index: 1;
}
.mutliSelect ul li  {
	clear: both;
	overflow: hidden;
}
.mutliSelect ul li label {
	font: 14px/19px "open_sansregular";
	color: #424242;
}
.mutliSelect ul li input[type="checkbox"] {
    display:none;
}
.mutliSelect ul li input[type="checkbox"] + label span {
    display:inline-block;
    width:18px;
    height:18px;
    margin:0 4px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox-off.png) no-repeat;
    cursor:pointer;
    float: right;
}
.mutliSelect ul li input[type="checkbox"]:checked + label span {
    background:url(../images/checkbox-on.png) no-repeat;
}
.payment-btn {
	display: inline-block;
	width: 223px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #8c8c8c;
	border-radius: 2px;
	text-align: center;
	font: 14px/30px "open_sansregular"; 
	margin-top: 10px; 
}
.personal-payment-results {
	float: left;
    min-height: 637px;
    width: 100%;
    padding: 23px 4px 0 0px;
	position:relative;
}
.vehicle-payment {
	padding: 8px 10px 30px 9px;
	width: 232px;
	float: left;
	border-radius: 1.5px;
	background-color: #fafafa;
	box-shadow: 0 0 3px 1px #d8d8d8;
}
.vp-info {
    position: relative;
}
.vehicle-payment h3 {
	font: 9px/13px "OpenSans-Bold";
	display: block;
	color: #424242;
	letter-spacing: 0.1px; 
}
.vehicle-payment p {
	font: 39px/43px "OpenSans-Bold";
	color: #424242;
}
.vehicle-payment p span {
	font: 13.5px/18px "open_sansregular";
	display: inline-block;
}
.vehicle-payment span {
	font: 9px/13px "open_sansregular";
	letter-spacing: 0.1px;
	display: block;
}
.vp-info img {
    bottom: 0;
    position: absolute;
    right: 0;
}
.vpdata-module {
    margin: 30px 0 0;
}
.vpdata-module ul li, .vpdata-module-second ul li { 
	font: 9px/10.5px "open_sansregular";
	letter-spacing: 0.1px;
	width: 100%;
	float: left;
}
.vpdata-module li span, .vpdata-module-second li span {
    float: right;
}
.vpdata-module ul li:last-child {
    margin: 8px 0;
    position: relative;
}
.vpdata-module-second ul li:last-child {
    margin: 15px 0 40px 0;
    position: relative;
}
.vpdata-module ul li:first-child, .vpdata-module ul li:first-child span, .vpdata-module ul li:last-child, .vpdata-module ul li:last-child span, .vpdata-module-second ul li:last-child, .vpdata-module-second ul li:last-child span, .vpdata-module-second ul li.tax, .vpdata-module-second ul li.tax span  {
	font: 9px/15px "OpenSans-Bold";
	color: #424242;
	letter-spacing: 0.1px; 
}
.vpdata-module ul li:last-child:before, .vpdata-module-second ul li:last-child:before {
	content: "";
	height: 2px;
	width: 188px;
	background: #e9e9e9;
	position: absolute;
	top: 0;
	left: 0;
}
.vpdata-module ul li:last-child:after, .vpdata-module-second ul li:last-child:after {
	content: "";
	height: 1px;
	width: 188px;
	background: #d0d1cf;
	position: absolute;
	bottom: 0;
	left: 0;
}
.vpdata-module-second ul li.tax {
	margin-top: 12px;
}
.vpdata-module-second ul li.tax-details {
    padding-left: 25px;
}
.vp-data {
    clear: both;
    overflow: hidden;
}
.vehicle-payment .compare-btn {
    display: block;
    float: none;
    margin: 0 auto;
}
.share-icons {
    float: left;
    margin-top: 33px;
    width: 100%;
}
.share-icons li:first-child {
	margin-left: 20px;
}
.share-icons li {
    display: inline-block;
    margin-right: 20px;
}
.share-icons li:last-child {
	margin: 0;
}
.todo-list {
    opacity: 0.6;
}
.empty {
	border-bottom: 1px solid #ededed;	
	border-left:1px solid #bcbcbc;
	border-right:1px solid #888888;
	display: block;
	height: 10px;
	width: 100%;
	background: #fafafa;
}
.todo-head {
	position: relative;
	cursor: pointer;
}
.todo-head:after {
	background: rgba(0, 0, 0, 0) url("../images/collapse-icon.png") no-repeat scroll 0 0;
    content: "";
    height: 1px;
    width: 10px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);  
}
.todo-head.active:after {
	background: rgba(0, 0, 0, 0) url("../images/open-icon.png") no-repeat scroll 0 0;
    height: 11px;
    width: 10px;
}
.todo-head h2 {
	border-left:1px solid #f1f1f1;
	border-bottom: 1px solid #f7f7f7;
	border-right:1px solid #f1f1f1;
	height: 27px;
	display: block;
	color: #424242;
	font: 12px/27px "open_sansregular";
	padding: 0 13px;
}
.todo-head h2 span.red {
	font-family: 'open_sansitalic';
	color:#c30016;
}
.todo-head h2 em {
	font-family: 'open_sansitalic';
}
.todo-body {
	padding: 13px 15px 20px 13px;
	background: #fafafa;
	border-bottom: 1px solid #ededed;	
	border-left:1px solid #bcbcbc;
	border-right:1px solid #888888;
	border-top:1px solid #f2f2f2;
}
.todo-body li.red {
	color:#d0021b;
}
.todo-body li label {
	font: 12px/21px "open_sansregular";
}
.todo-over {
    border-bottom: 1px solid #bcbcbc;
    min-height: 517px;
}
.todo-body.todo-over label {
    text-decoration: line-through;
}
.saved-deals {
	padding: 20px 27px 0 15px;
	min-height: 887px;
	position: relative;
}
.deal {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 12px;
	position: relative;
}
.deal h1 {
	color: #fff;
	background-color: #424242;
	font: 14px/30px "OpenSans-Bold";
	display: block;
	padding: 0 20px 0 13px;
}
.deal-body {
	padding: 10px 20px 10px 13px;
	clear: both;
	overflow: hidden;
}
.deal h1 span { 
	font: 12px/30px "open_sansitalic";
	float: right;
}
.deal-data {
	width: 125px;
	float: left;
	margin-right: 20px;
}
.deal-data ul li {
	font: 10px/17px "open_sansregular";
}
.deal-data ul li.high-deal {
	font-family: 'OpenSans-Bold';
}
.deal-data ul li.cost { 
	font: 24px/30px "OpenSans-Bold";
}
.deal-data ul li.cost sup { 
	font-size: 17px;
	position: relative;
	top: -10px;
}
.deal-data ul li.cost span {
	font: 18px/29px "open_sansregular";
}
.deal-data.deal-last-column {
    float: right;
    margin: 0;
    width: 195px;
    text-align: center;
}
.deal-data.deal-last-column li {
	display: inline-block;
	margin-right: 20px;	
}
.deal-data.deal-last-column li img {
	display: inline-block;
	vertical-align: middle;
}
.deal-data.deal-last-column li:last-child {
	margin-right: 0;	
}
.deal-btn {
    margin-top: 13px;
}
.deal-close {
    position: absolute;
    right: -10px;
    top: -7px;
    cursor: pointer;
}
.activ-log {
	border-left:1px solid #bdbdbd;
	border-right: 1px solid #a5a5a5;
	border-bottom:1px solid #bdbdbd;
}
.activ-head {
	padding: 15px 20px 15px 10px;
	border-bottom: 1px solid #a5a5a5;
}
.filter-section {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
.date-filter {
    float: right;
    margin-top: 10px;
    position: relative;
}
.date-filter input {
    border: 1px solid #424242;
    height: 30px;
    width: 130px;
    padding: 0 5px;
    font: 12px/21px "OpenSans-Semibold";
    color: #4c4d4f;
}
.date-filter span {
	position: absolute;
	width: 32px;
	text-align: center;
	border-left:1px solid #424242;
	right: 0;
	top: 0;
	height: 100%;
	line-height: 30px;
	cursor: pointer;
}
.date-filter img {
    display: inline-block;
    vertical-align: middle;
}
.sorting li {
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
.filter-section:last-child {
    margin: 0;
}
.activ-data-head {
	padding: 0 10px;
	border-bottom: 1px solid #a5a5a5;
	border-right: 1px solid #888888;
	border-top: 1px solid #cfcfcf;
	height: 27px;
	position: relative;
	cursor: pointer;
	background: #fff;
}
.activ-data-head h2 {
	display: block;
	font: 12px/27px "open_sansregular";
	color: #424242; 
}
.ad-module {
	padding: 15px 30px 15px 20px; 
	clear: both;
	overflow: hidden;
}
.ad-module-left {
	width: 33%;
	float: left;
	margin-right: 4%;
}
.ad-module-left > span {
    vertical-align: middle;
    font: 12px/20px "open_sansregular";
    color: #424242; 
}
.ad-module-left > figure {
    float: right;
}
.ad-module-right {
    border-left: 1px solid #afafaf;
    float: left;
    padding-left: 7px;
    width: 63%;
    font: 12px/20px "open_sansregular";
    color: #8c8c8c;
}
.ad-module-right h2 {
	color: #333333;
}
.ad-module-right span {
	font: 12px/21px "open_sansitalic";
	display: block;
	color: #797979;
}
.activ-data-body {
    border-right: 1px solid #888888;
    padding-bottom: 15px;
    display: none;
    border-bottom: 1px solid #a5a5a5;
}
.activ-data-head:after {
	background: rgba(0, 0, 0, 0) url("../images/collapse-icon.png") no-repeat scroll 0 0;
    content: "";
    height: 1px;
    width: 10px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);  
}
.activ-data-head.active:after {
	background: rgba(0, 0, 0, 0) url("../images/open-icon.png") no-repeat scroll 0 0;
    height: 11px;
    width: 10px;
}
.activ-body {
    background: #fafafa none repeat scroll 0 0;
    padding-bottom: 40px;
}
.activ-data-body.current {
    display: block;
}
.bell-hover, .rating-block, .todo-popup, .notes-popup, .logcall-popup {
	display: none;
}
.bell-hover {
    background: #f00 none repeat scroll 0 0;
    bottom: 0;
    min-height: 250px;
    position: absolute;
    right: -63px;
    top: 40px;
    width: 264px;
    z-index: 9;
    border-radius: 1px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border: solid 1px #d8d8d8;
}
.bell-close {
    position: absolute;
    right: -13px;
    top: -10px;
}
.bell-hover-data h2 {
	padding: 0 6px;
	display: block;
	height: 30px;
	font: 11px/30px "OpenSans-Bold";
	color: #424242;
	border-bottom: 1px solid #d8d8d8;
}
.bell-hover-data li {
	font: 11px/16px "open_sansregular";
	color: #8c8c8c;
	position: relative;
	padding: 8px 12px 6px 22px;
	border-bottom: solid 1px #d8d8d8;
}
.bell-hover-data li.red {
    background: #fafafa none repeat scroll 0 0;
    color: #c30016;
}
.bell-hover-data li.red::before {
    background: rgba(0, 0, 0, 0) url("../images/oval.png") repeat scroll 0 0;
    content: "";
    height: 7px;
    left: 9px;
    position: absolute;
    top: 14px;
    width: 7px;
}
.bell-hover-data li:last-child {
	border: 0;
}
.bell-hover-data {
    position: relative;
}
.bell-hover-data li img {
    position: absolute;
    right: 7px;
    top: 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    cursor: pointer;
}
.bell-hover-data::after {
    background: #fff none repeat scroll 0 0;
	border-left: solid 1px #d8d8d8;
	border-bottom: solid 1px #d8d8d8;
    content: "";
    height: 20px;
    position: absolute;
    right: 70px;
    top: -10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    width: 20px;
}
.rating-data h2 {
	padding: 10px;
	display: block;
	border-bottom: 1px solid #d8d8d8;
}
.rating-fields {
	width: 100%;
	clear: both;
	overflow: hidden;
	padding: 20px 15px 0 12px;
}
.rating-fields input {
	width: 100%;
}
.rating-block {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    border-radius: 1px;
    min-height: 326px;
    position: absolute;
    right: -35px;
    top: 45px;
    width: 284px;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.last-rating {
	padding: 20px 15px 30px 12px;
}
.rating-block label {
	font: 9px/16px "OpenSans-Light";
	display: block;
	color: #4c4d4f;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  background: #b7b7b7;
  height: 1px;
  position: relative;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
  background: #424242;
  border: 0;
  height:1px;
  width: 100%;
  position: relative;
}
input[type=range]::-webkit-slider-thumb {
  border: 0;
  height: 7px;
  width: 23px;
  background: #424242;
  cursor: pointer;
  -webkit-appearance: none;
  position: absolute;
  top: -3px;
  border-radius: 0;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #424242;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #b7b7b7;
  border: 0;
}
input[type=range]::-moz-range-thumb {
  border: 0;
  height: 7px;
  width: 23px;
  background: #424242;
  cursor: pointer;
  border-radius: 0;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 23px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #424242;
  border: 0;
}
input[type=range]::-ms-fill-upper {
  background: #424242;
  border: 0;
}
input[type=range]::-ms-thumb {
  border: 0;
  height: 7px;
  width: 23px;
  background: #424242; 
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #424242;
}
input[type=range]:focus::-ms-fill-upper {
  background: #424242;
}
.rating-data::after {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    content: "";
    height: 20px;
    position: absolute;
    right: 50px;
    top: -10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    width: 20px;
}
.rating-close {
    position: absolute;
    right: -20px;
    top: -10px;
    cursor: pointer;
}
.todo-popup {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: 485px;
    position: absolute;
    top: 180%;
    width: 300px;
    z-index: 9;
}
.todo-popup-data {
    position: relative;    
}
.todo-popup-data::after {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    content: "";
    height: 20px;
    position: absolute;
    left: 50px;
    top: -10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    width: 20px;
}
.todo-close {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
}
.todo-popup-data h2, .notes-poup-block h2, .logcall-popup-block h2 {
	padding: 0 11px;
	display: block;
	height: 35px;
	font: 11px/35px "OpenSans-Bold";
	color: #3b3c3e;
	border-bottom: 1px solid #d8d8d8;
}
.todo-popup-data h2 img, .notes-poup-block h2 img, .logcall-popup-block h2 img {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
.todo-selection, .notes-poup-data {
    padding: 14px 11px;
}
.logcall-data {
    padding: 14px 11px 0 11px;
}
.todo-selection-head {
    clear: both;
    overflow: hidden;
}
.todo-selection-left {
    border-right: 1px solid #d8d8d8;
    float: left;
    margin-right: 10px;
    width: 165px;
}
.todo-selection-right {
    float: right;
    width: 100px;
}
.todo-selection-left li {
    float: left;
    margin: 0;
    width: 50%;
    clear: none;
}
.todo-selection-head li label, .app-options li label {
	font: 10px/17px "open_sansregular";
	vertical-align: middle;
	display: inline-block;
}
.todo-selection-head li input[type="radio"], .app-options li input[type="radio"] {
    display:none;
}
.todo-selection-head li input[type="radio"] + label span, .app-options li input[type="radio"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
    background:url(../images/radio-btn-off.png) no-repeat;
    cursor:pointer;
    margin-right: 5px;
}
.todo-selection-head li input[type="radio"]:checked + label span, .app-options li input[type="radio"]:checked + label span {
    background:url(../images/radio-btn-on.png) no-repeat;
}
.date-time-filter {
	clear: both;
	overflow: hidden;
	margin:10px 0 25px;
}
.date-time-filter .todo-date-filter, .date-time-filter .time-filter {
	width: 95px;
	float: left;
	margin-right: 15px;
	position: relative;
}
.date-time-filter input, .date-time-filter select {
	width: 95px;
	height: 23px;
	font: 10px/23px "OpenSans-Semibold";
	border:1px solid #aaabac;
	padding: 0 5px;
}
.date-time-filter select, .todo-assign select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
.date-time-filter span {
    border-left: 1px solid #aaabac;
    cursor: pointer;
    height: 23px;
    position: absolute;
    right: 0;
    text-align: center;
    bottom: 0;
    width: 20px;
}
.date-time-filter span img, .todo-assign span img {
    display: inline-block;
    vertical-align: middle;
}
.todo-assign {
	width: 183px;
	position: relative;
}
.todo-assign select {
	font: 10px/25px "OpenSans-Semibold";
	color: #4c4d4f;
	padding: 0 8px;
	height: 25px;
	border: 1px solid #d7d8d8;
	width: 100%;
}
.todo-assign span {
    border-left: 1px solid #d7d8d8;
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px;
    cursor: pointer;
}
textarea::-webkit-input-placeholder {  color: #4c4d4f;}
.todo-appointment label {
    font: 9px/16px "opensans-light";
}
.todo-appointment {
    margin-top: 15px;
}
.todo-appointment h2 {
    font: 11px/18px "open_sansregular";
    color: #4c4d4f;
    padding: 0;
}
.todo-appointment textarea {
    font: 9px/16px "opensans-light";
    height: 63px;
    resize: none;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}
.app-submit {
    background: #4c4d4f none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 11px;
    font-family: "OpenSans-Semibold";
    margin-top: 25px;
}
li.notes, li.log-call {
	cursor: pointer;
}
.notes-popup {
    background: #fff none repeat scroll 0 0;
    height: 243px;
    left: 30px;
    position: absolute;
    top: 180%;
    width: 304px;
    z-index: 9;
    border: 1px solid #d8d8d8;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.notes-close {
    position: absolute;
    right: -11px;
    top: -9px;
    cursor: pointer;
}
.notes-poup-block::after {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    content: "";
    height: 20px;
    position: absolute;
    left: 70px;
    top: -10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    width: 20px; 
}
.notes-poup-data span {
	font: 9px/16px "OpenSansLight-Italic";
}
.notes-poup-data {
    text-align: center;
    min-height: 150px;
    border-bottom: 1px solid #d8d8d8;
}
.notes-poup-data p {
    font: 9px/16px "opensans-light";
    margin: 14px 0;
    text-align: left;
}
.notes-submit {
    padding: 11px;
}
.notes-submit .btn {
    background: #424242 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 33px;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 11px;
    font-family: "OpenSans-Semibold";
}
.logcall-popup {
    background: #fff none repeat scroll 0 0;
    height: 410px;
    left: 110px;
    position: absolute;
    top: 180%;
    width: 305px;
    z-index: 9;
    border: 1px solid #d8d8d8;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.logcall-close {
    position: absolute;
    right: -11px;
    top: -9px;
    cursor: pointer;
}
.logcall-popup-block::after {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    content: "";
    height: 20px;
    position: absolute;
    left: 70px;
    top: -10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    width: 20px; 
}
.logcall-data label, .call-input label {
    font: 9px/16px "opensans-light";
    display: block;
}
.logcall-data .date-time-filter {
    margin: 10px 0;
}
.call-input {
    padding: 0 11px;
}
.call-input label {
	margin-top: 25px;
}
.call-input input {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #d8d8d8;
}
.call-accept {
	margin: 22px 11px;
}
.vehicle-tabs-head {
    text-align: center;
    margin-bottom: 20px;
}
.vehicle-tabs-head li {
    display: inline-block;
    font: 23px/27px "OpenSans-Bold";
    color: #a3a3a3;
    text-transform: uppercase;
     border-bottom: 2.9px solid transparent;
     margin: 0 70px;
     cursor: pointer;
}
.vehicle-tabs-head li.current, .vehicle-tabs-head li:hover {
    color: #424242;
    border-bottom: 2.9px solid #50748a;
}
li.vim {
    cursor: pointer;
}
li.vim:hover {
    text-decoration: underline;
}
.inventory-payments {
	display: none;
}




/*kalyan-styles-start*/
.retail-block{
	width:235px;
	float:left;
	border-right:1px solid #424242;
	overflow:hidden;
}
.retail-block h3{
	font-family: "OpenSans-Semibold";
	font-size: 16px;
	color: #506a8a;
}
.retail-block table{width:100%;}
.retail-block table, .retail-block th, .retail-block td {
    border-collapse: collapse;
	margin-top:20px;
	text-align:center;
	font-size: 12px;
	font-family: "OpenSans-Semibold";
}
.retail-block table, .retail-block th{
	color: #333333;
	font-family: "OpenSans-Semibold";
	padding:5px 11px;
}
.retail-block table, .retail-block td{padding:8px 0px;}
.retail-block table, .retail-block tr:nth-child(even) {background: #d8d8d8;}
.retail-block table, .retail-block tr:nth-child(odd) {background: #FFF;}
.rate{color: #d0021b;}
.rate1{cursor:pointer;}
.rate1:hover{text-decoration:underline;}
.rate1.active{text-decoration:underline}
.retail-block.retail-block-one{
	margin-left:0px;
	border-right:0px;
	width:210px;
}
.miles{
	padding-left:23px;
	display:inline-block;
}
.miles1{
	display:inline-block;
	padding-left:15px;
	font-size:12px;
	color: #333333;
}
.retail-block.retail-block-one table{width:100%;}
.retail-block.retail-block-one table, .retail-block.retail-block-one th, .retail-block.retail-block-one td{width:100%;}
.retail-block.retail-block-one table, .retail-block th, .retail-block td{margin-top:19px;}
.vehicle-payment.vehicle-payment-one{
	position:absolute;
	top:25px;
	right:30px;
	padding: 8px 10px 15px 9px;
}
.vpdata-module-second.vpdata-three ul li:last-child {margin: 15px 0 20px 0;}
.vehicle-payment .compare-btn.compare-btn-one{margin:0px;float:left;}
.black-print{display:inline-block;margin:5px 0px 0px 20px;}
/*kalyan-styles-end*/

/*mahesh-styles-end*/